Copyright (c) 2018 - 2019 [윤기태]

https://github.com/yoonkt200/python-data-analysis
# (가제) 파이썬 데이터 분석 - Code Examples
-----
-----
# 2.1 목표 예측을 위한 회귀분석

-----
-----
### 1. Housing 데이터 살펴보기

#### [Housing의 기본 정보]

In [3]:
# -*- coding: utf-8 -*-

import pandas as pd

# Data Source : http://lib.stat.cmu.edu/datasets/boston_corrected.txt

# TOWN : 지역 이름
# LON, LAT : 위도, 경도 정보
# CMEDV : 해당 지역의 집값(중간값)
# CRIM : 지역 범죄율
# ZN : 주택지 비율
# INDUS : 상업적 비즈니스에 활용되지 않는 농지 면적
# CHAS : 경계선에 강에 있는지 여부
# NOX : 산화 질소 농도
# RM : 자택당 평균 방 갯수
# AGE : 1940 년 이전에 건설된 비율
# DIS : 5 개의 보스턴 고용 센터와의 거리에 다른 가중치 부여
# RAD : radial 고속도로와의 접근성 지수
# TAX : 10000달러당 재산세
# PTRATIO : 지역별 학생-교사 비율
# B : 지역의 흑인 지수 (1000(B - 0.63)^2), B는 흑인의 비율.
# LSTAT : 빈곤층의 비율

url = 'https://raw.githubusercontent.com/yoonkt200/python-data-analysis/master/data/BostonHousing2.csv'
housing = pd.read_csv(url) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.

In [4]:
housing.head()

,TOWN,LON,LAT,CMEDV,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,Nahant,-70.955,42.2550,24.0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98
1,Swampscott,-70.950,42.2875,21.6,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14
2,Swampscott,-70.936,42.2830,34.7,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03
3,Marblehead,-70.928,42.2930,33.4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94
4,Marblehead,-70.922,42.2980,36.2,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33

In [5]:
print(housing.shape)
print("------------------------------------")
print(housing.info())
print("------------------------------------")
print(housing.columns)

(506, 17)
------------------------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 17 columns):
TOWN       506 non-null object
LON        506 non-null float64
LAT        506 non-null float64
CMEDV      506 non-null float64
CRIM       506 non-null float64
ZN         506 non-null float64
INDUS      506 non-null float64
CHAS       506 non-null int64
NOX        506 non-null float64
RM         506 non-null float64
AGE        506 non-null float64
DIS        506 non-null float64
RAD        506 non-null int64
TAX        506 non-null int64
PTRATIO    506 non-null float64
B          506 non-null float64
LSTAT      506 non-null float64
dtypes: float64(13), int64(3), object(1)
memory usage: 67.3+ KB
None
------------------------------------
Index(['TOWN', 'LON', 'LAT', 'CMEDV', 'CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX',
       'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT'],
      dtype='object')