Copyright (c) 2018 - 2019 [윤기태]

https://github.com/yoonkt200/python-data-analysis
# (가제) 파이썬 데이터 분석 - Code Examples
-----
-----
# 2.1 목표 예측을 위한 회귀분석

-----
-----
### 1. Housing 데이터 살펴보기

#### [Housing의 기본 정보]

In [1]:
# -*- coding: utf-8 -*-

import pandas as pd

columns = ['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax', 'ptratio', 'b', 'lstat', 'price']

# crim : 마을 범죄율
# zn : 주택지 비율
# indus : 상업적 비즈니스에 활용되지 않는 농지 면적
# chas : 경계선에 강에 있는지 여부
# nox : 산화 질소 농도
# rm : 자택당 평균 방 갯수
# age : 1940 년 이전에 건설된 비율
# dis : 5 개의 보스턴 고용 센터와의 거리에 다른 가중치 부여
# rad : radial 고속도로와의 접근성 지수
# tax : 10000달러당 재산세
# ptratio : 마을별 학생-교사 비율
# b : 도시의 흑인 지수 (1000(B - 0.63)^2), B는 흑인의 비율.
# lstat : 빈곤층의 비율
# price : 해당 지역의 집값(중간값)

url = 'https://raw.githubusercontent.com/yoonkt200/python-data-analysis/master/data/housingdata.csv'
housing = pd.read_csv(url) # read_csv 함수로 데이터를 Dataframe 형태로 불러옵니다.

In [2]:
housing.head()

,0.00632,18,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,396.9,4.98,24
0,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
1,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
2,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
3,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
4,0.02985,0.0,2.18,0,0.458,6.430,58.7,6.0622,3,222,18.7,394.12,5.21,28.7

In [ ]:
print(housing.shape)
print("------------------------------------")
print(housing.info())
print("------------------------------------")
print(housing.columns)