Copyright (c) 2019 [윤기태]

https://github.com/yoonkt200/python-data-analysis

[MIT License](https://github.com/yoonkt200/python-data-analysis/blob/master/LICENSE.txt)

# (가제) 파이썬 데이터 분석

-----

# 2.3) 영화 평점 예측하기

### 바로가기

- [1. MovieLens 데이터 살펴보기](#1.-MovieLens-데이터-살펴보기)
    - [MovieLens 데이터셋의 기본 정보]
    - [탐색적 데이터 분석]
        - 희소 매트릭스 데이터 시각화
        - 연도별/장르별로 etc.. 데이터 살펴보기
- [2. 수학적 기법을 활용한 평점 예측](#2.-수학적-기법을-활용한-평점-예측)
    - [SVD 기법 적용하기]
    - [아직 평가하지 않은 영화의 점수 예측하기]
- [3. 예측 결과 분석하기](#3.-예측-결과-분석하기)
    - [예측 모델의 평가]
    - [연도별/장르별 etc.. 가장 평점이 높은 영화]
    - [?!?@와 가장 유사한 영화 리스트]
- [내가 아직 보지 않은 이 영화의 평점은?](#내가-아직-보지-않은-이-영화의-평점은?)
- [부록 : 선배의 Summary](#부록-:-선배의-Summary)

-----

In [1]:
# -*- coding: utf-8 -*-

%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

# 1. MovieLens 데이터 살펴보기

### [MovieLens 데이터셋의 기본 정보]

In [6]:
# Data Source : https://grouplens.org/datasets/movielens

rating_data = pd.io.parsers.read_csv('../data/ml-1m/ratings.dat', names=['user_id', 'movie_id', 'rating', 'time'], delimiter='::')
movie_data = pd.io.parsers.read_csv('../data/ml-1m/movies.dat', names=['movie_id', 'title', 'genre'], delimiter='::')

In [7]:
data.head()

   user_id  movie_id  rating       time
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968
3        1      3408       4  978300275
4        1      2355       5  978824291